parameters:
	ignoreErrors:
		-
			message: "#^Function wp_cache_get_multiple\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: include/object-cache.php

		-
			message: "#^Function wp_cache_set_multiple\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: include/object-cache.php

		-
			message: "#^Parameter \\#1 \\$data of method JazzMan\\\\WPObjectCache\\\\RedisAdapter\\:\\:set_multiple\\(\\) expects array\\{string\\: mixed\\}, array given\\.$#"
			count: 1
			path: include/object-cache.php

		-
			message: "#^Constant DB_NAME not found\\.$#"
			count: 2
			path: src/RedisAdapter.php

		-
			message: "#^Method JazzMan\\\\WPObjectCache\\\\RedisAdapter\\:\\:get_connection_params\\(\\) should return array\\{host\\: string, port\\: int, timeout\\: int, persistent_id\\: string\\|null, prefix\\: string, retry_interval\\: int, read_timeout\\: int, serializer\\: int, \\.\\.\\.\\} but returns array\\{host\\: int\\|string, port\\: int\\|string, timeout\\: int\\|string, persistent_id\\: int\\|string\\|null, prefix\\: int\\|string, retry_interval\\: int\\|string, read_timeout\\: int\\|string, serializer\\: int\\|string, \\.\\.\\.\\}\\.$#"
			count: 1
			path: src/RedisAdapter.php

		-
			message: "#^Method JazzMan\\\\WPObjectCache\\\\RedisAdapter\\:\\:get_multiple\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/RedisAdapter.php

		-
			message: "#^Parameter \\#1 \\$message of function error_log expects string, RedisException given\\.$#"
			count: 1
			path: src/RedisAdapter.php

		-
			message: "#^Cannot call method info\\(\\) on Redis\\|null\\.$#"
			count: 1
			path: wp-object-cache.php

		-
			message: "#^Method WPObjectCache\\:\\:addPluginActionsLinks\\(\\) should return array\\{string\\} but returns non\\-empty\\-array\\<string\\>\\.$#"
			count: 1
			path: wp-object-cache.php

		-
			message: "#^Method WPObjectCache\\:\\:getLink\\(\\) has parameter \\$linkAttr with no value type specified in iterable type array\\.$#"
			count: 1
			path: wp-object-cache.php

		-
			message: "#^Parameter \\#1 \\$args of function WP_Filesystem expects array\\|false, array\\|true given\\.$#"
			count: 1
			path: wp-object-cache.php

		-
			message: "#^Parameter \\#1 \\$name of function app_get_human_friendly expects string, int given\\.$#"
			count: 1
			path: wp-object-cache.php

		-
			message: "#^Parameter \\#2 \\$info of method WPObjectCache\\:\\:buildFormTable\\(\\) expects array\\{string, string\\}, \\(array\\<string, mixed\\>\\|Redis\\|false\\) given\\.$#"
			count: 1
			path: wp-object-cache.php

		-
			message: "#^Parameter \\#3 \\$message of function add_settings_error expects string, string\\|false given\\.$#"
			count: 1
			path: wp-object-cache.php

		-
			message: "#^Variable \\$message in isset\\(\\) always exists and is not nullable\\.$#"
			count: 1
			path: wp-object-cache.php

		-
			message: "#^Variable \\$message on left side of \\?\\? always exists and is not nullable\\.$#"
			count: 1
			path: wp-object-cache.php
